<?xml version="1.0" encoding="utf-8"?>
<CONTAINER ID="3" NAME="Projeto" IDDOCUMENTOCONTAINERATUAL="2\0">
  <DOCUMENTS>
    <DOCUMENT FOLDER="document1" IDCODON="sugestao" />
  </DOCUMENTS>
  <CONTAINERS />
</CONTAINER>