<AUTOMATICSTRUCTURES>

	<AUTOMATICSTRUCTURESGROUPS>
		<AUTOMATICSTRUCTURESGROUP ID="MINIFIX" ENABLE="Y" AUTOMATICFUNCTIONS="ferragem"/>
		<AUTOMATICSTRUCTURESGROUP ID="CAVILHA" ENABLE="Y" AUTOMATICFUNCTIONS="ferragem"/>
		<AUTOMATICSTRUCTURESGROUP ID="PARAFUSO" ENABLE="Y" AUTOMATICFUNCTIONS="ferragem"/>
		<AUTOMATICSTRUCTURESGROUP ID="VB35M" ENABLE="Y" AUTOMATICFUNCTIONS="ferragem"/>
		<AUTOMATICSTRUCTURESGROUP ID="VB36M" ENABLE="Y" AUTOMATICFUNCTIONS="ferragem"/>
	</AUTOMATICSTRUCTURESGROUPS>

</AUTOMATICSTRUCTURES>