.mssansserif1 {
	FONT-SIZE: 8pt; COLOR: #c1c1c1; FONT-FAMILY: "verdana"
}
A.mssansserif1:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mssansserif1:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mssansserif1:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.mssansserif2 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "verdana"
}
A.mssansserif2:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mssansserif2:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mssansserif2:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.mssansserif3 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "verdana"
}
A.mssansserif3:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif3:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif3:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.mssansserif4 {
	FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: "verdana"
}
A.mssansserif4:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif4:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif4:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.mssansserif5 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: "verdana"
}
A.mssansserif5:link {
	COLOR: #980266; TEXT-DECORATION: none
}
A.mssansserif5:visited {
	COLOR: #980266; TEXT-DECORATION: none
}
A.mssansserif5:hover {
	COLOR: #980266; TEXT-DECORATION: underline
}
.mssansserif-menu {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "verdana"
}
A.mssansserif-menu:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif-menu:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif-menu:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.mssansserif-menu1 {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: "verdana"
}
A.mssansserif-menu1:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.mssansserif-menu1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.mssansserif-menu1:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tahoma {
	FONT-SIZE: 7pt; COLOR: #999999; FONT-FAMILY: "tahoma"
}
A.mssansserif-menu:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif-menu:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mssansserif-menu:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 10px; BACKGROUND: #cccccc; COLOR: #000000; FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-SIZE: 10px; BACKGROUND: #cccccc; COLOR: #000000; FONT-FAMILY: verdana
}
SELECT {
	FONT-SIZE: 10px; BACKGROUND: #cccccc; COLOR: #000000; FONT-FAMILY: verdana
}
.input1 {
	BACKGROUND-COLOR: #efefef
}
.tahoma1 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: tahoma
}
.tahomab {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: tahoma
}
.input_whitebg {
	BACKGROUND-COLOR: #ffffff
}
.mssansserif6 {
	FONT-SIZE: 7pt; COLOR: #FFFFFF; FONT-FAMILY: "verdana"
}
A.mssansserif6:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.mssansserif6:visited {
	COLOR: #F8F8F8; TEXT-DECORATION: none
}
A.mssansserif6:hover {
	COLOR: #F8F8F8; TEXT-DECORATION: underline
}
