<?xml version="1.0" encoding="utf-8"?>
<TOOLBARINFORMATIONCOLLECTION>
  <TOOLBARINFORMATION TOOLBARID="toolbarVistas">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="preenchimento">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="365" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="superior">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="450" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="insercao">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="879" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="cotagem">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="394" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="toolbarRender">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="402" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="toolbarPrincipal">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="0" Y="0" />
    <VISIBLE VALUE="Y" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="superiorImpressao">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="562" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="objetosImpressao">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="117" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="controle">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Left" />
    <LOCATION X="0" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="pagina">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="413" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="formatacaoEditorTexto">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="413" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="orcamento">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="916" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="toolbar_contratos">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="413" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
  <TOOLBARINFORMATION TOOLBARID="superiorImagem">
    <TYPE VALUE="Docked" />
    <DOCKSTYLE VALUE="Top" />
    <LOCATION X="389" Y="0" />
    <VISIBLE VALUE="N" />
  </TOOLBARINFORMATION>
</TOOLBARINFORMATIONCOLLECTION>